@keyframes zoomBackground {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
.field {
    height: 50px;
    width: 50px;
    border: 1px solid #fefefe;
}
.middle {
    display: grid;
    grid-template-areas: 
        "ship player1 player2 chatbox"
    ;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
}
.ship__selection {
    grid-area: ship;
}
.board {
    background-color: rgba( 128, 128, 128, 0.5);
}
#game__board {
    grid-area: player1;
    display: grid;
    width: 520px;
    grid-template-columns: repeat(10, 1fr);
}
#opponent__board {
    grid-area: player2;
    display: grid;
    width: 520px;
    grid-template-columns: repeat(10, 1fr);
}
.chatbox {
    grid-area: chatbox;
}