@font-face {
    font-family: 'walkingdead';
    src: url(../../../font/BAD\ GRUNGE.ttf);
}
@media screen and (height < 800px) {
    .shipwars__title{
     top: -12rem !important;
     left: 6.25% !important;;  
    }
}
.shipwars__title {
    font-family: 'walkingdead', Brush Script MT, Brush Script Std, cursive;
    position: relative;
    left: 3.5%;
    width: 100%;
    top: -1rem;
    font-size: 15rem;
    color: #fefefe;
    text-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    gap: 9%;
}
.shipwars__buttons p {
    transform: skew(30deg);
    opacity: 1;
}
.shipwars__buttons {
    width: 20rem;
    height: 5rem;
    transform: skew(-30deg) translate(-50%, -50%);
    border: 1px solid #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    top: 5rem;
    margin-bottom: 3rem;
    background-color: rgb(128, 128, 128, 0.5);
    font-size: x-large;
    transition: all 0.3s ease-in-out;
}
.shipwars__buttons:hover {
    margin-bottom: 2rem;
    height: 6rem;
    width: 22rem;
}
.buttons a,.buttons a:visited {
    color: #fefefe;
    text-decoration: none;
}