.shipwars__title {
    font-family: Brush Script MT, Brush Script Std, cursive;
    position: relative;
    left: 50%;
    top: -10rem;
    transform: translateX(-14.8%);
    font-size: xx-large;
    color: #fefefe;
    text-shadow: 2px 2px 2px black;
}
.shipwars__buttons p {
    transform: skew(30deg);
    opacity: 1;
}
.shipwars__buttons {
    width: 20rem;
    height: 5rem;
    transform: skew(-30deg) translate(-50%, -50%);
    border: 1px solid #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    margin-bottom: 3rem;
    background-color: rgb(128, 128, 128, 0.5);
    font-size: x-large;
}
.shipwars__buttons:hover {
    margin-bottom: 2rem;
    height: 6rem;
    width: 22rem;
    font-size: xx-large;
}
.buttons a,.buttons a:visited {
    color: #fefefe;
    text-decoration: none;
}