body {
    background-image: url(../../img/brait\ -\ Kopie.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.shipwars__logo  {
    background-image: url(../../img/logo-trans.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 15rem;
}
.shipwars__title {
    font-family: Brush Script MT, Brush Script Std, cursive;
    position: relative;
    left: 50%;
    top: -10rem;
    transform: translateX(-14.8%);
    font-size: xx-large;
    color: #fefefe;
    text-shadow: 2px 2px 2px black;
}
