<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://yoo-testwebhook.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e5e4125f-a636-43b8-bc36-5d9bb8303b11/resourcegroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/Yoo-TestWebHook</ResourceId>
    <UserName>$Yoo-TestWebHook</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://yoo-testwebhook.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>